@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

$font-lato: 'Lato', sans-serif;
$font-base: 1rem;
$font-small: 0.75rem;
$font-medium: 1.25rem;
$font-large: 2rem;
$font-regular: 400;
$font-bold: 900;
$color-red: #c71c22;
$color-white: #ffffff;
$color-blue: #537ebf;
$color-yellow: #f9a341;
$color-green: #3fb618;
$color-grey: #5c6666;
$color-grey-light: #727171;
$color-grey-dark: #2d2f2f;